<html>
<head>
  <title>paperbot</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class=page>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}

    <h1>paperbot</h1>
    <form method="post" action="{{ url_for('search') }}">
      <input type="text" value="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6985481" maxLength=512 size=80 name="url">
      <br>
      <input type="submit" value="fetch" name="fetchButton">
    </form>
  </div>
</body>
</html>